<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <h3>Contact Us</h3>
            <br>
            <p>1 Georgian Dr<br>Barrie, ON<br>L4M 3X9</p>            
        </div>
        <div class="col-sm-4">
            <br>
            <br>
            <br>
            <p>705-555-0101</p>
            <p>info@abcbooks.com</p>
        </div>
        <div class="col-sm-4">
            <h3>Follow Us</h3>
            <br>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-youtube"></a>
            <a href="#" class="fab fa-google"></a>        
        </div>
    </div>
</footer>

<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>

</body>
</html>
